{% extends 'admin/layout.html' %} {%block content%}
<!-- add product start -->
<div class="card">
    <div class="card-body ">
        <h5 class="card-title ">Add new product</h5>
        <p class='card-text'>
            <form action="/admin/products" method="POST">
                {{productForm.brand(class_='form-control my-3',placeholder="Product Brand")}} {{productForm.model(class_='form-control my-3',placeholder="Product Model")}} {{productForm.description(class_='form-control my-3',placeholder="Product Description")}} {{productForm.submit(class_='btn
                btn-primary my3',value="Add product")}}
            </form>
        </p>


    </div>
</div>
<!-- add product end -->
<!--  product list start -->
<div class=" card ">
    <div class="card-body ">
        <h5 class="card-title ">Product list</h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product ID</th>
                    <th scope="col">Product Brand</th>
                    <th scope="col">Product Model</th>
                    <th scope="col">Product Description</th>
                </tr>
            </thead>
            <tbody>
                {%for product in products%}
                <tr>
                    <th scope="row">1</th>
                    <td>Iphone</td>
                    <td>13 pro </td>
                    <td>255 price</td>
                    <td>
                        <a href="/admin/products/edit/{{product.id}}" class="btn btn-primary">Edit</a>
                        <a href="/admin/products/delete/{{product.id}}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
<!--  product list end -->
{% endblock %}